.auth_form_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 374px;
    background: #162b3a;
    color: #555b67;
    font-size: 15px;
}
.auth_form {
    padding: 0 39px;
    position: absolute;
    width: 100%;
    top: 33.5%;
}
/*.wrapp-autorization {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    width: 374px;*/
/*    height: 100%;*/
/*    background: #162b3a;*/
/*    color: #555b67;*/
/*    font-size: 16px;*/
/*    z-index: 1;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    padding: 30px;*/
/*}*/

/*.logo {*/
/*    font-size: 45px;*/
/*    font-weight: bold;*/
/*    text-transform: uppercase;*/
/*    color: #fff;*/
/*}*/
/*.autorization-footer {*/
/*    position: absolute;*/
/*    bottom: 30px;*/
/*}*/
